<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1614</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
